<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercer.com Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be76a">  <td>19/02/25 19:52:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestContacts.beforeClass()[pri:0, instance:salesforce.smoke.tests.TestContacts@43a0cee9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>19/02/25 19:55:59</td>   <td>180613</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAccounts.beforeClass()[pri:0, instance:salesforce.smoke.tests.TestAccounts@eb21112]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="b56393">  <td>19/02/25 19:57:05</td>   <td>245978</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEligibility.beforeClass()[pri:0, instance:salesforce.smoke.tests.TestEligibility@2eda0940]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="70d1b1">  <td>19/02/25 19:58:22</td>   <td>323353</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCertificates.beforeClass()[pri:0, instance:salesforce.smoke.tests.TestCertificates@3578436e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="748aa2">  <td>19/02/25 19:59:47</td>   <td>408250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestOpportunities.beforeClass()[pri:0, instance:salesforce.smoke.tests.TestOpportunities@706a04ae]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>19/02/25 20:02:11</td>   <td>552428</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestContactFunctionalities.beforeClass()[pri:0, instance:salesforce.smoke.tests.TestContactFunctionalities@6eceb130]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>19/02/25 20:05:11</td>   <td>731906</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCases.beforeClass()[pri:0, instance:salesforce.smoke.tests.TestCases@10a035a0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="7aecef">  <td>19/02/25 20:07:50</td>   <td>891290</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestWorkpiece.beforeClass()[pri:0, instance:salesforce.smoke.tests.TestWorkpiece@67b467e9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>19/02/25 20:05:23</td>   <td>744424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.createACase()[pri:1, instance:salesforce.smoke.tests.TestCases@10a035a0]">createACase</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="748aa2">  <td>19/02/25 20:00:04</td>   <td>424913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestOpportunities.createOpportunity()[pri:1, instance:salesforce.smoke.tests.TestOpportunities@706a04ae]">createOpportunity</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="7aecef">  <td>19/02/25 20:08:01</td>   <td>902543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWorkpiece.createWorkpiece()[pri:1, instance:salesforce.smoke.tests.TestWorkpiece@67b467e9]">createWorkpiece</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>19/02/25 20:06:55</td>   <td>836126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.editCreatedCase()[pri:3, instance:salesforce.smoke.tests.TestCases@10a035a0]">editCreatedCase</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>19/02/25 19:56:09</td>   <td>190723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAccounts.testAccount()[pri:1, instance:salesforce.smoke.tests.TestAccounts@eb21112]">testAccount</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>19/02/25 20:02:23</td>   <td>564570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestContactFunctionalities.testBillingDetails()[pri:1, instance:salesforce.smoke.tests.TestContactFunctionalities@6eceb130]">testBillingDetails</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="70d1b1">  <td>19/02/25 19:58:35</td>   <td>336571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCertificates.testCertificates()[pri:1, instance:salesforce.smoke.tests.TestCertificates@3578436e]">testCertificates</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>19/02/25 20:03:28</td>   <td>629217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestContactFunctionalities.testClaims()[pri:2, instance:salesforce.smoke.tests.TestContactFunctionalities@6eceb130]">testClaims</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>19/02/25 19:53:10</td>   <td>11043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestContacts.testContactCreation()[pri:1, instance:salesforce.smoke.tests.TestContacts@43a0cee9]">testContactCreation</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>19/02/25 19:55:21</td>   <td>141826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestContacts.testEditContactCreated()[pri:3, instance:salesforce.smoke.tests.TestContacts@43a0cee9]">testEditContactCreated</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="b56393">  <td>19/02/25 19:57:15</td>   <td>256666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestEligibility.testEligibility()[pri:1, instance:salesforce.smoke.tests.TestEligibility@2eda0940]">testEligibility</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>19/02/25 20:04:37</td>   <td>698402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestContactFunctionalities.testForms()[pri:4, instance:salesforce.smoke.tests.TestContactFunctionalities@6eceb130]">testForms</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>19/02/25 20:04:00</td>   <td>661720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestContactFunctionalities.testNotes()[pri:3, instance:salesforce.smoke.tests.TestContactFunctionalities@6eceb130]">testNotes</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>19/02/25 19:55:12</td>   <td>133214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestContacts.viewContactCreated()[pri:2, instance:salesforce.smoke.tests.TestContacts@43a0cee9]">viewContactCreated</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>19/02/25 20:06:46</td>   <td>827345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.viewCreatedCase()[pri:2, instance:salesforce.smoke.tests.TestCases@10a035a0]">viewCreatedCase</td> 
  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="748aa2">  <td>19/02/25 20:01:54</td>   <td>535251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestOpportunities.viewCreatedOpportunity()[pri:2, instance:salesforce.smoke.tests.TestOpportunities@706a04ae]">viewCreatedOpportunity</td> 
  <td>main@1825027294</td>   <td></td> </tr>
</table>
