<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f6480">  <td>19/01/25 19:45:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAccounts.beforeClass()[pri:0, instance:salesforce.smoke.tests.TestAccounts@457e2f02]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1967892594</td>   <td></td> </tr>
<tr bgcolor="7f6480">  <td>19/01/25 19:45:46</td>   <td>28061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAccounts.testAccounts()[pri:0, instance:salesforce.smoke.tests.TestAccounts@457e2f02]">testAccounts</td> 
  <td>main@1967892594</td>   <td></td> </tr>
</table>
